body {
    background-color: #DAE0E2;
    max-width: 100%;

}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.grid-12 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.grid-21 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #2C3335;
    top: 0;
    left: 0;
}

.sidebar-top {
    height: auto;
    text-align: center;
    color: white;
    line-height: 60px;
    background-color: #333945;
}


.sidebar li {
    margin: 15px;
    line-height: 35px;
    padding: 10px;
    margin-top: 25px;
    color: #DAE0E2;
    font-size: 14px;
}

.sidebar li:hover {
    cursor: pointer;
    background-color: #2F363F;
}

.sidebar li span {
    
    margin-left: 20px;
}

.sidebar[aria-hidden="true"] {
    transition: 200ms;
    transform: translateX(-100%);
}

.sidebar:not([aria-hidden]),
.sidebar[aria-hidden="false"] {
    transition: 200ms;
    transform: translateX(0);
}

#sidebar-toggle:hover {
    cursor: pointer;
}   

.content {
    margin-left: 250px;
    background-color: #DAE0E2;
}

.snackbar {
    background-color: white;
    line-height: 60px;
}

.snackbar-search {
    margin-left: 20px;
   
}

.snackbar-search input {
    height: 35px;
    border: none;
    padding: 10px;
}

.snackbar-profile {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
}

.snackbar-profile span  {
    margin-left: 15px;
    font-weight: 500;
}

.snackbar-profile span:hover {
    transition: .5s;
    color: #333945;
    cursor: pointer;

}

.welcome {
    margin: 25px;
    padding: 15px;
    line-height: 40px;
    background-color: white;
    border: 1px solid #A4B0BD;

}

.welcome span {
    font-size: 16px;
    font-weight: bold;
}

.welcome button {
    position: absolute;
    right: 0;
    margin-right: 40px;
    width: 100px;
    height: 40px;
    background-color: #1287A5;
    border: none;
    color: white;
}

.welcome button:hover {
    background-color: #00CCCD;
    cursor: pointer;
}

.pills {
   
    margin: 25px;

}

.pill {

    float: left;
    padding: 25px;
    border: none;
    border-radius: 35px;
    color: white;
}



.pill-heading {
    font-weight: bold;
    font-size: 14px;
}

.pill-num {
    
    font-size: 17px;
    font-weight: bold;
}


.neon {
    background-color: #2ecc72;
}

.blue {
    background-color: #3498DB;
}

.pink {
    background-color: #E83350;
}

.ochre {
    background-color: #F3B431;
}

.stats-container {
    margin: 25px;
    

}

.sales {
    width: 100%;
    height: 500px;
    background-color: white;
    border: 1px solid #A4B0BD;
    padding: 25px;
}

.sales p {
    color: rgb(137, 145, 155);
}

.sales-counter-container {
    margin-top: 40px;
    
}

.sales-counter-container h5 {
    font-weight: 100;
    font-size: 14px;
}

.map-container {
    margin-top: 40px;
}


.user-stats {
    height: 250px;
    background-color: white;
    border: 1px solid #A4B0BD;
    padding: 25px;
}

.user-count {
    font-size: 24px;
    font-weight: bold;
}

.downloads {
    margin-top: 20px;
    height: 230px;
    background-color: white;
    border: 1px solid #A4B0BD;
    padding: 25px;
}

.projects {
    margin: 25px;
}

.tickets {
    height: 500px;
    background-color: white;
    border: 1px solid #A4B0BD;
    padding: 25px;
}

.timeline-container {
    height: 500px;
    background-color: white;
    border: 1px solid #A4B0BD;
    padding: 25px;
}

.timeline-item {
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(231, 234, 236);
    margin-top: 20px;
}

.timeline-item  p {
    margin-top: 10px;  
}

.timeline span {
    color: #A4B0BD;

}

table {
    padding: 10px;
    
}

th, td {
    padding: 5px;
    text-align: start;
    width: 300px;
}

td {
    height: 50px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.invoices {
    margin: 25px;
    padding: 20px;
    background-color: white;
    height: 500px;
}

footer {
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 600px) {

    .content {
        margin-left: 0;
    }
    
    .grid-2, .grid-12, .grid-21, .grid-4 {
        grid-template-columns: 1fr;
    }
    
    .sidebar {
        display: none;
    }
}
